<p>Usuário teste para testar o Controle de Estoque</p>
<p>Usuário: teste Senha: teste</p>
<div id="conteudo" style="margin-left: 34em;margin-top: 15em;">
    <form action="/Login/Autentica" method="post">
        <label for="login">Usuário: </label>
        <input type="text" name="login" id="login" class="form-control" style="width:30em;" />
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha" class="form-control" style="width:30em;" />
        <input type="submit" value="Logar" class="btn btn-primary" style="margin-top:2%" />

    </form>
</div>